include_empty_channel true
add_action_history_weight true
action_history_weighting_scheme step
concatenate_action_history_weight true
two_dim_posterior true
add_one_smoothing true
neighborhood_window_size 1
set_decoder_hidden true
num_conv_layers 3
num_unit_conv_layers 2
num_out_channels_for_init_cnn 300
dropout 0.0
num_decoder_hidden_layers 1
bidirectional false
num_encoder_hidden_layers 1
rnn_hidden_size 300
num_linear_layers_stop_action 3 4
num_linear_layers_action_embedding 2
